[Unit]
Description=Web Terminal Server

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=-%S/state/environment
ExecStart=/usr/bin/python3 %S/bin/websockets_server.py
Restart=always

[Install]
WantedBy=default.target
